<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>简书-blog</title>
	<link rel="icon" href="http://www.wclimb.site/images/avatar.png">
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/public.css">
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>