.sign {
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
}
.sign:before {
    content: "";
    display: inline-block;
    height: 85%;
    vertical-align: middle;
}
.logo{
    position: absolute;
    top: 56px;
    margin-left: 50px;
}
.sign .logo img {
    width: 100px;
}
.sign .main{
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
}
.sign .reset-title, .sign .title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
}
.sign .reset-title a, .sign .title a {
    padding: 10px;
    color: #969696;
}
.sign .reset-title b, .sign .title b {
    padding: 10px;
}
.sign .reset-title .active, .sign .title .active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}
.sign form {
    margin-bottom: 30px;
}
.sign form .restyle {
    margin-bottom: 0;
}
.sign form .input-prepend {
    position: relative;
    width: 100%;
}
.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.sign form .input-prepend input {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
    background-color: hsla(0,0%,71%,.1);
    vertical-align: middle;
}
.sign form .input-prepend i {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 18px;
    color: #969696;
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ic-user:before {
    content: "\E65E";
}
.sign form .input-prepend {
    position: relative;
    width: 100%;
}
.sign form .restyle {
    margin-bottom: 0;
}
.ic-phonenumber:before {
    content: "\E65D";
}
.ic-password:before {
    content: "\E614";
}
.sign .sign-in-button, .sign .sign-up-button {
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}
.sign .sign-up-msg {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}
.sign .sign-up-msg a, .sign .sign-up-msg a:hover {
    color: #3194d0;
}
.sign .sign-up-msg a, .sign .sign-up-msg a:hover {
    color: #3194d0;
}
.sign .more-sign {
    margin-top: 50px;
}
.sign .more-sign h6 {
    position: relative;
    margin: 0 0 10px;
    font-size: 12px;
    color: #b5b5b5;
}
.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}
.sign .more-sign h6:before {
    left: 30px;
}
.sign .more-sign h6:after {
    right: 30px;
}
.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}
.sign .more-sign ul {
    margin-bottom: 10px;
    list-style: none;
}
.sign .more-sign ul li {
    margin: 0 5px;
    display: inline-block;
}
.sign form .no-radius input {
    border-radius: 0;
}
.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.sign .remember-btn {
    float: left;
    margin: 15px 0;
}
.sign .forget-btn {
    float: right;
    position: relative;
    margin: 15px 0;
    font-size: 14px;
}
.sign .forget-btn a {
    color: #999;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.sign .remember-btn span {
    margin-left: 5px;
    font-size: 15px;
    color: #969696;
    vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.sign .sign-in-button {
    background: #3194d0;
}
#session_remember_me{
    margin-top:-2px
}


